@tailwind base;
@tailwind components;
@tailwind utilities;

.filepond--credits {
  display: none !important;
}

.custom-filepond .filepond--drop-label,
.custom-filepond .filepond--label-action {
  font-size: 0.85rem;
  font-weight: 500;
  color: #2878f7;
  cursor: pointer;
}
